.img:hover{

    cursor: pointer;
    transform: scale(1.02);
    border-radius: 35px;
    transition: 0.3s;
    

}

.img{
    height: 250px;
    border-radius: 12px;
    margin:"5px";
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
  }

  .overlay-text{
    color: beige;
    opacity: 0;
  }

  .overlay-text:hover{
    transition: 0.7s;
    opacity: 1;
  }


  .image-container {
    position: relative;
    overflow: hidden;
  }